h1 {
    letter-spacing: 0.5em;
    line-height: 1.5;
    text-align: center;
    font-family: "Lucida Console";
    font-size: 60px;
    color: white;
    font-weight: lighter;
}
body {
	font-size: 15px;
	font-family: "Lucida Console";
	color: white;
    letter-spacing: 0.5em;
	text-align: center;
}
button {
  padding:5px;
  background-color: #17101A;
  border: 2px solid #ffffff;
  color:#ffffff;
  text-decoration:none;
  font-size: 15px;
	font-family: "Lucida Console";
	font-weight: lighter;

}

input[type=radio] {
	border-width:0;
}